.neon {
	min-width: 20px;
	
}

.neon a {
	position: relative;
	display: inline-block;
	padding: 5px 5px;
	margin: auto;
	margin-top: 21px;
	color: white;
	font-size:12px;
	text-decoration: none;
	transition: 0.5s;
	letter-spacing: 4px;
	overflow: hidden;
}
.neon a:hover{
	color: lightskyblue;
	transform:scale(1.1);
}
.neon a span {
	position: absolute;
	display: block;
}
.neon a span:nth-child(1){
	top: 0;
	left: -100;
	width: 100%;
	height: 3px;
	background: linear-gradient(90deg,transparent,lightgreen);
	animation: animate1 1s linear infinite;
	}

@keyframes animate1
{
	0%
	{
		left: -100%;
	}
	50%,100%
	{
		left: 100%;
	}
}
.neon a span:nth-child(2){
	top: -100;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,lightskyblue);
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
	}

@keyframes animate2
{
	0%
	{
		top: -100%;
	}
	50%,100%
	{
		top: 100%;
	}
}

.neon a span:nth-child(3){
	bottom: 0;
	right: -100;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,red);
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
	}

@keyframes animate3
{
	0%
	{
		right: -100%;
	}
	50%,100%
	{
		right: 100%;
	}
}
.neon a span:nth-child(4){
	bottom: 0;
	left:0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,yellow);
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
	}

@keyframes animate4
{
	0%
	{
		bottom: -100%;
	}
	50%,100%
	{
		bottom: 100%;
	}
}

@media (min-width: 992px) {
	
	.neon{
		margin-top: 25px;
	}
	.neon a{
		padding: 20px 30px;
	}

	}